:root{
	--tableBackgroundColor: hsl(200, 22%, 75%);
	--tableColor2: #1362a7;
	--tableColorHover: #B4D7F7;
	--headerPrimaryColor: hsl(208, 33%, 26%);
	--buttonPrimaryColor: hsl(208, 27%, 18%);
	--buttonHoverColor: hsl(180, 100%, 25%);
	--tdPrimaryColor: hsl(206, 9%, 85%);
	--backTextColor: hsl(0, 0%, 70%);
	--backgroundColor: hsl(359, 46%, 58%);
}

/* Navigation Bar Styling */

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
	color: var(--backTextColor);
}

.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.open > a:focus {
	background-color: var(--buttonHoverColor);
	color: #fff;
}

.dropdown .dropdown-menu a:hover{
	background-color: var(--buttonHoverColor); 
	text-decoration: none;
}

.container-fluid{
	background-color: var(--headerPrimaryColor);
}

ul.dropdown-menu{
	background-color: var(--headerPrimaryColor);
}

.navbar-nav > a > .dropdown-options:hover { 
	background-color: var(--buttonHoverColor);
}

ul.dropdown-menu>li>a{
    color: var(--backTextColor);
}

.navbar-inverse .navbar-toggle {
    border-color: var(--buttonPrimaryColor);
}

.navbar-toggle {    
    background-color: var(--buttonPrimaryColor);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: var(--buttonHoverColor);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: var(--buttonHoverColor);
}

.navbar-brand{
    background-color: var(--buttonPrimaryColor);
    font-size: 2rem;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--headerPrimaryColor);
}

.navbar-inverse {
    background-color: var(--headerPrimaryColor);
    border-color: #080808;
}

.dropdown .dropdown-menu a:hover{
	background-color: var(--buttonHoverColor); 
	text-decoration: none;
}

ul.dropdown-menu{
	background-color: var(--headerPrimaryColor);
}

body{
	background-color: var(--backgroundColor);
	font-family: 'Open Sans', Times, serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
}

.scrollable-element {
	scrollbar-color: dark;
  }

a{
	color:var(--headerPrimaryColor);
}

th.lala{
	text-align: right;
}

.ac_results {
    width: auto;
	padding: 0px;
	border: 1px solid #357ebd;
    border-radius: 4px;
	background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 10px 10px;
	cursor: default;
	display: block;
	color: rgb(0, 0, 0);
	font-family:Arial, Helvetica, sans-serif;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #ffffff;
	color: #000000;
}

.ac_over {
	background-color: #97cedf;
	color: #000000;
}


.input_text{
	font-size:14px;
	border:1px solid #84a10b;
	padding:2px;
	width:150px;
	color:#000;
	background:white url(../images/search.png) no-repeat 3px 2px;
	padding-left:17px;
}


form.form-horizontal{
    padding-top: 70px;
}

th.lala{
	text-align: right;
}

.hed{
	font-size: 4rem;
	color: var(--backTextColor);
	font-weight: 300;
	text-align: center;
}

.hed span{
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	color: var(--backTextColor);
	background-color: var(--headerPrimaryColor);
	font-weight: unset;
	border-radius: 10px;
}

.table-sortable th{
	cursor: pointer;
	user-select: none;
	border: unset;
}

.pre-sort{
	padding-right: 25.39px !important;
}

.table-sortable tr:hover{
	background-color: var(--tableColorHover);
}

.th-sort-asc::after{
	content: "\25b4";
}

th.th-sort-desc::after{
	content: "\25be";
}

th.th-sort-asc::after
th.th-sort-desc::after{
	margin-left: 5px;
}

th.th-sort-asc,
th.th-sort-desc{
	background: var(--buttonPrimaryColor);
}

.tables {
	overflow-y: auto;
	overflow-x: auto;
	/* max-height: 600px; */
	min-width: 50vw;
	border-collapse: separate;
}

.table>thead>tr>th {
	border: unset;
}


th{

	background: var(--headerPrimaryColor);
	color: var(--backTextColor);
	border: 1px solid var(--headerPrimaryColor);
	scrollbar-color: var(--headerPrimaryColor);

	font-size:1.3em;
	font-weight: unset;
	white-space: nowrap;

	border: unset;
}

.sticky-table th{
	text-align: left;
	position: sticky;
	top: 0;
	z-index: 10;
}

.sticky-table thead th:first-child {
	position: sticky;
	left: 0;
	z-index: 11;
}

.sticky-table tbody td:first-child {
	position: sticky;
	left: 0;
	z-index: 10;
}

.sticky-table thead th:nth-child(2) {
	position: sticky;
	left: 0;
	z-index: 11;
}

.sticky-table tbody td:nth-child(2) {
	position: sticky;
	left: 0;
	z-index: 10;
}

.table tbody tr td{
	border: 3px solid var(--headerPrimaryColor);
	background-color: white;
	color: black;
}

.row-highlighter tbody tr:hover{
	border: 3px solid var(--headerPrimaryColor);
	background-color: var(--tableBackgroundColor) !important;
	color: black;
}

.row-highlighter tbody tr:hover td{
	background: transparent;
	color: black;
}

.row-highlighter tbody tr:hover a{
	background: transparent;
	color: black;
}

.container{
	width: 80vw;
	height: 100vh;
	justify-content: center;

	display: grid;

	grid-template-columns:  minmax(auto, auto) ;
	grid-template-rows: max-content max-content minmax(auto, auto) max-content 1fr;

	scrollbar-track-color: violet;
	gap: 5px;

	padding:10px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 50px;
	/* margin-top: 50px; */
}
   
.hed{
    grid-column-start: 2;
    grid-column-end: 3;
    height: max-content;
    margin-bottom: 20px;
    /* margin-top: 50px; */
}

.date-picker-form{

    padding: 10px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	background-color: var(--headerPrimaryColor);
	color: var(--backTextColor);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;

    height: max-content;

    display: block;
}

.custom-add-form{

    padding: 10px;
	background-color: var(--headerPrimaryColor);
	color: var(--backTextColor);

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

    height: max-content;

    display: block;
}

.custom-input-field{

	border-radius: 4px;
	color: black;
}

.btn-primary{
	background-color: var(--buttonPrimaryColor);
	border-color: var(--buttonPrimaryColor);
	color: var(--backTextColor);
}

.btn-primary:hover{
	background-color: var(--buttonHoverColor);
	border-color: var(--buttonHoverColor);
}

.chart-grid{

    padding: 10px;
	background-color: var(--headerPrimaryColor);
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 5;
    grid-row-end: 6;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

    height: 20rem;

    
}

.tables-grid{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    margin: 0;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: var(--headerPrimaryColor);

	padding-left: 10px;
	padding-right: 10px;

	background-color: var(--headerPrimaryColor);
	
}

.hidden-x-scroll{

	overflow-x: hidden;
}



.two-columns th {
    width: 50%;
} 

.table-sortable{
    margin:0;
	border-collapse: separate;
}

.test2{
	
	grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

    margin-top: -5px;
}

.table{
    overflow-x: auto;    
	overflow-y: auto;
	scrollbar-color: var(--headerPrimaryColor);
}

* {
	scrollbar-width: 12px;/*thin;*/
	scrollbar-color: skyblue #000066;
}

*::-webkit-scrollbar {
width: 8px;
height: 8px;
}

*::-webkit-scrollbar-track {
background: hsl(212, 22%, 67%);        /* color of the tracking area */
border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
background-color: var(--headerPrimaryColor);    /* color of the scroll thumb */
border-radius: 4px;       /* roundness of the scroll thumb */
border: 1px solid var(--headerPrimaryColor); /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-corner{
	background: hsl(359, 46%, 58%); 
}

.daterangepicker{
	background-color: var(--tableBackgroundColor);
}

.daterangepicker .calendar-table{
	background-color: var(--tableBackgroundColor);
}

legend{
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	font-size: 3rem;
	color: var(--backTextColor);
	white-space: nowrap;
	border-bottom-color: var(--backTextColor);
}

form.form-horizontal.custom-form{
	width:60vw;
	background-color: var(--headerPrimaryColor);
	color: var(--backTextColor);

	margin-top: 70px;
	padding-top: 0;

	border-radius: 20px;
}

.form-control{
	background-color: var(--tableBackgroundColor);
}

input.form-control,
select.form-control{
	font-weight: bold;
	font-size: 1.5rem;
}
