.table-sortable th{
  cursor: pointer;
  user-select: none;
}

.th-sort-asc::after{
  content: "\25b4";
}

th.th-sort-desc::after{
  content: "\25be";
}

th.th-sort-asc::after
th.th-sort-desc::after{
  margin-left: 5px;
}

th.th-sort-asc,
th.th-sort-desc{
  background: rgb(180, 215, 247);

}

.tables {
  /*margin-top: 65px;*/
  margin-left: 25px;
  margin-right: 25px;
  overflow-y: auto;
  height: wrap;
  max-height: 600px;
 }

 .two-columns {
   margin-bottom: 0px;
 }
 
 .two-columns th {
   width: 50%;
 }

 th{
   text-align: left;
   position: sticky;
   top: 0;
   z-index: 10;
   background: rgb(197, 224, 247);
   font-size:1.3em;
 }

 
